@media (prefers-color-scheme: light) {
    
    body{
        background-image: url("../public/images/root/testbackground.jpg");
        background-size: cover !important;
        color: black;
    }
    
    header {
        background-color: rgba(255, 255, 255, 0.7);
    }
    .navbar-nav {
        --bs-nav-link-color: rgba(0, 0, 0, 0.55);
        --bs-nav-link-hover-color: rgba(0, 0, 0, 0.7);
    }

    .navbar {
        box-shadow: inset 0 0 0 1px #d3a41b;
      }
      
}

@media (prefers-color-scheme: dark) {

    body {
        background-image: url("../public/images/root/testbackground.jpg");
        background-size: cover !important;
        color: white;
    }

    header {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .navbar-nav {
        --bs-nav-link-color: rgba(0, 0, 0, 0.55);
        --bs-nav-link-hover-color: rgba(0, 0, 0, 0.7);
    }

    .navbar {
        box-shadow: inset 0 0 0 1px #d3a41b;
      }

    .img-fluid {
        box-shadow: 0 0 0 1px #d3a41b;
    }
      
}