@media (prefers-color-scheme: light) {
    
    body{
        background-image: url("../public/images/root/testbackground.jpg");
        color: black;
    }
    
    header {
        background-color: rgba(255, 255, 255, 0.7) !important;
    }
    .navbar-nav {
        --bs-nav-link-color: rgba(0, 0, 0, 0.55);
        --bs-nav-link-hover-color: rgba(0, 0, 0, 0.7);
    }
}

@media (prefers-color-scheme: dark) {

    body {
        background-image: url("../public/images/root/testbackground.jpg");
        color: white;
    }

    header {
        background-color: rgba(0, 0, 0, 0.7) !important;
    }

    .navbar-nav {
        --bs-nav-link-color: rgba(255, 255, 255, 0.8);
        --bs-nav-link-hover-color: rgba(255, 255, 255, 0.6);
    }
}